            <div id='{{id}}' class='scenario'>
                <div class='scenarioTitle'>{{>link}}</div>
                <table class='scenarioTable'>{{#link}}{{>link}}{{/link}}
                    <tr><td>Situation</td><td>{{situation}}</td></tr>
                    <tr><td>Expected</td><td>{{expected}}</td></tr>
                </table>
            </div><!-- scenario -->
