    <div id='{{ id }}' class='usecase'>
        <div class='usecaseTitle'> {{> link}} </div>
        <div class='useCasesScenarios'>
{{#scenarios}}{{>Scenario}}{{/scenarios}}
        </div><!--useCasesScenarios -->
{{#UseCase}}{{>UseCase}}{{/UseCase}}
    </div><!-- usecase' -->