    <div id='{{ id }}' class='usecase'>
        <div class='usecaseTitle'> {{> Link}} </div>
        <div class="useCasesScenariosSummary">
{{#scenarioIcons}}{{>scenarioIcon}}{{/scenarioIcons}}        </div>
        <div class='useCasesScenarios'>
{{#scenarios}}{{>Scenario}}{{/scenarios}}
        </div><!--useCasesScenarios -->
{{#useCases}}{{>UseCase}}{{/useCases}}
    </div><!-- usecase' -->