html {
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top;
	word-wrap: break-word;
	box-sizing: border-box;
}

img {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 3px;
	padding-left: 3px;
}
div {
	position: relative;
	padding: 5px;
	width: auto;
	overflow: auto;
}
.engineOnPath{
   border: 1px solid green;
}
.engineSelected{
   border: 2px solid green;
}
.usecaseOnPath{
   border: 1px solid green;
}

.usecaseSelected{
   border: 2px solid green;
}
.scenarioSelected{
   border: 2px solid green;
}

.ifOnPath{
   border: 1px solid green;
}
.conclusionNodeSelected{
   border: 2px solid green;
}
.engineAndDecisionTreeHolder{
 clear: left;
 width: 100%;
}
.engineHolder{
  width: 50%;
  float: left;
}
.decisionTreeHolder{
  width: 45%;
   float: left;
 }