html {
	font-family: Arial, Helvetica, sans-serif;
	vertical-align: top;
	word-wrap: break-word;
	box-sizing: border-box;
}

img {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 3px;
	padding-left: 3px;
}
div {
	position: relative;
	padding: 5px;
	width: auto;
	overflow: auto;
}
table {
	table-layout: fixed;
	background-color: #ffffff;
	position: relative;
	border-collapse: collapse;
	margin: 4px;
	padding: 0px;
	border: 0px;
	background-color: #ffffff;
}
td {
	vertical-align: top;
	margin: 2px;
	padding: 2px;
	border: 1px solid black;
}
.mainIcon{
   height:80px;
}
.engineOnPath{
   border: 1px solid green;
}
.engineSelected{
   border: 2px solid green;
}
.usecaseOnPath{
   border: 1px solid green;
}

.usecaseSelected{
   border: 2px solid green;
}
.scenarioSelected{
   border: 2px solid green;
}

.ifOnPath{
   border: 1px solid green;
}
.conclusionNodeSelected{
   border: 2px solid green;
}
.engineAndDecisionTreeHolder{
 clear: left;
 width: 100%;
}
.engineHolder{
  width: 50%;
  float: left;
}
.decisionTreeHolder{
  width: 45%;
   float: left;
 }
 .traceHolder{
   width: 50%;
   float: left;
 }