<div class="decisionNode">
    <div class="if{{selected}}">if <span class="condition">{{reason}}</span></div>
    <div class="trueNode">
{{#trueNode}}{{>DecisionTree}}{{/trueNode}}
    </div><!--trueNode -->
    <div class="else">else</div>
    <div class="falseNode">
{{#falseNode}}{{>DecisionTree}}{{/falseNode}}
    </div><!--falseNode -->
</div><!-- decisionNode -->