<ul>
    {{#engines}}
        <li><a href="{{url}}"><span {{#engineFailed}}class="failed"{{/engineFailed}}>{{title}}</span></a>
            <ul>{{#errors}}
                <li><span {{#engineFailed}}class="failed"{{/engineFailed}}>{{description}}</span></li>{{/errors}}</ul>
        </li>
    {{/engines}}
</ul>