<div id='{{id}}' class='engine'>
    <div class='engineTitle'> {{>Link}}{{>ScenarioIcons}} </div>
    <div class='engineScenarios'>
        {{#scenarios}}{{>Scenario}}{{/scenarios}}
    </div><!--engineScenarios -->
    <div class="engineUseCases">
        {{#useCases}}{{>UseCase}}{{/useCases}}
    </div><!--engineUseCases -->
</div><!-- engine' -->