<!DOCTYPE html>
<html>
  <head>
      <title>{{title}}</title>
      <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
      <meta http-equiv="Expires" content="-1"/>
      <meta http-equiv="Pragma" content="no-cache"/>
      <link href="../stylesheets/css.css" rel="stylesheet"/>
  </head>
  <body>
    <a  href="{{urlBase}}"><img class="mainIcon" src="/images/cdd.png" /></a>
  <div class="engineAndDecisionTreeHolder">
     <div class="engineHolder">
       <h1>{{title}} {{definedAt}}</h1>
{{#engine}}{{>Engine}}{{/engine}}
     </div> <!--engineHolder -->
      <div class="decisionTreeHolder">
{{#decisionTree}}{{>DecisionTree}}{{/decisionTree}}
      </div><!--decisionTreeHolder -->
     </div> <!--engineAndDecisionTreeHolder -->

  <h1>Json</h1>
  <pre>{{json}}</pre>
  </body>
</html>