            <div id='{{id}}' class='scenario{{selected}}{{#error}}Error{{/error}}'>
                <div class='scenarioTitle'>{{>Link}}{{>references}}</div>
                {{>Comment}}
                <table class='scenarioTable'>
                    <tr><td>Situation</td><td><pre>{{situation}}</pre></td></tr>
                    <tr><td>Expected</td><td>{{expected}}</td></tr>
                    {{#actual}}<tr><td>Actual</td><td>{{actual}}</td></tr>{{/actual}}
                    {{#selected}}
                          {{#error}}<tr><td colspan="2">{{class}}<br /><pre>{{message}}</pre></td></tr>
                              {{#explaination}}<tr><td colspan="2">explaination<br />{{{explaination}}}</td></tr>{{/explaination}}
                              {{#reason}}<tr><td>Reason</td><td>{{reason}}</td></tr>{{/reason}}
                              {{#advice}}<tr><td colspan="2">Advice<br />{{{advice}}}</td></tr>{{/advice}}
                          {{/error}}{{/selected}}
                </table>
            </div><!-- scenario -->
