            <div id='{{id}}' class='scenario{{selected}}'>
                <div class='scenarioTitle'>{{>Link}}</div>
                {{>Comment}}
                <table class='scenarioTable'>
                    <tr><td>Situation</td><td>{{situation}}</td></tr>
                    <tr><td>Expected</td><td>{{expected}}</td></tr>
                </table>
            </div><!-- scenario -->
