<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Expires" content="-1"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <link href="{{refbase}}/stylesheets/css.css" rel="stylesheet"/>
</head>
<body>
<a  href="{{urlBase}}"><img class="mainIcon" src="/images/cdd.png" /></a>
<h1>Test Classes</h1>

<ul>
    {{#testClass}}<li><a href="{{url}}">{{title}}</a></li>{{/testClass}}
</ul>
<!--
<h1>Json</h1>
<pre>{{json}}</pre> -->
</body>
</html>