    <div id='{{ id }}' class='usecase{{selected}}'>
        <div class='usecaseTitle'> {{> Link}}{{>ScenarioIcons}}</div>
        {{>Comment}}
        <div class='useCasesScenarios'>
{{#scenarios}}{{>Scenario}}{{/scenarios}}
        </div><!--useCasesScenarios -->
        <div class="useCaseUseCases">
{{#useCases}}{{>UseCase}}{{/useCases}}
        </div><!--useCaseUseCases -->
    </div><!-- usecase' -->