    <div id='{{ id }}' class='usecase'>
        <div class='usecaseTitle'> {{> Link}}{{>ScenarioIcons}} {{>Selected}}</div>
        <div class='useCasesScenarios'>
{{#scenarios}}{{>Scenario}}{{/scenarios}}
        </div><!--useCasesScenarios -->
        <div class="useCaseUseCases">
{{#useCases}}{{>UseCase}}{{/useCases}}
        </div><!--useCaseUseCases -->
    </div><!-- usecase' -->